code/weather/weather/Service References/ServiceReference1/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1521/Services/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1521/Services/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1521/Services/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/weather.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWeatherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherInfo" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetWeatherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetAirInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirInfo" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_GetAirInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/DoWork" message="tns:IWeatherService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/DoWorkResponse" message="tns:IWeatherService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherInfo" message="tns:IWeatherService_GetWeatherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetWeatherInfoResponse" message="tns:IWeatherService_GetWeatherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAirInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/GetAirInfo" message="tns:IWeatherService_GetAirInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/GetAirInfoResponse" message="tns:IWeatherService_GetAirInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherInfo">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetWeatherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirInfo">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/GetAirInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://localhost:1521/Services/WeatherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>